// Theme
$theme_font: 'Roboto';
$theme_font_weight: normal;
$theme_font_size: 14px;
$theme_bg_color: #fff;
$theme_transition: all .2s ease-out;

// Color
$colorBlack: #000;
$colorWhite: #fff;
$colorRed600: #e53935;
$colorGray600: #707070;

// Color set
$colorScrollbarThumb: #3f51b5;
$colorScrollbarTrack: #e8e8e8;
